.checkout{
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background: white;

}
input[type ="submit"]{
  border:0;
  background: red;
  display: block;
  text-align: center;
  border: 2px solid white;
  padding: 10px 20px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  margin-left: 33.5%;
}
input[type = "submit"]:hover{
  background: #2ecc71;
}
.value{
  text-align: center;
  font-family: Georgia, serif;
    line-height: 1.6;
}
.checkout1{
  margin: auto;
  margin-top: 10px;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background: white;
}
.cashon{
  margin: auto;
  margin-top: 2px;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
  background: white;
  text-align: center;
  font-family: Georgia, serif;
}
.cashout{
  margin: auto;
  margin-top: 10px;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
  background: white;
  text-align: center;
  font-family: Georgia, serif;
}
